
.cluster-icon{
     background-color: rgb(255, 0, 102);
          color: white;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          width: 50px;
          height: 50px;
          border: 3px solid rgb(0, 0, 0);
          box-shadow: 0px 0px 38px -0px rgb(14, 50, 35);
}

.leaflet-tooltip.custom-tooltip {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}


.leaflet-tooltip.custom-tooltip::before {
  display: none !important;
}

